{% extends 'base.html.twig' %}

{% block title %}{{ 'traffic_source.add'|trans }}{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h1>{{ 'traffic_source.add'|trans }}</h1>

        <div class="btn_panel">
            <a href="{{ path('traffic_source_index') }}" class="btn btn-primary">
                {{ 'common.back'|trans }}
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                <input
                        type="submit"
                        value="{{ 'common.save'|trans }}"
                        class="btn btn-default pull-right"
                >
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}