{% macro printTreeElements(nestedListElements, level = 0, parent = 'root') %}
    <ul class="list-group big-text ">
        {% for nestedElement in  nestedListElements %}
            {% if nestedElement.children is defined %}
                {% set children  = nestedElement.children %}
            {% else %}
                {% set children  = '' %}
            {% endif %}
            {% set title = nestedElement.name ~ ' - ' ~ nestedElement.firstName  ~ ' ' ~ nestedElement.surname %}
            {% set departmentId = nestedElement.id %}

            {% if children is not empty and children is iterable %}
                <li class="list-group-item" data-parent="{{ parent }}">
                    <div class="dashboard-div">
                        <a class="show-window" href="javascript:void(0)" data-department-name="{{ nestedElement.name }}"
                           data-department="{{ departmentId }}" data-toggle="modal" data-target=".bs-example-modal-lg">{{ title }}</a>
                    </div>
                    {{ _self.printTreeElements(children, level +1, title) }}
                </li>
            {% else %}
                <li class="list-group-item" data-parent="{{ parent }}">
                    <div class="dashboard-div">
                        <a class="show-window" href="javascript:void(0)" data-department-name="{{ nestedElement.name }}"
                           data-department="{{ departmentId }}" data-toggle="modal" data-target=".bs-example-modal-lg">{{ title }}</a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}