{% extends 'base.html.twig' %}

{% set title %}
    {% if action == 'new' %}
        {% trans %}employee.add{% endtrans %}
    {% elseif action == 'edit' %}
        {% trans %}employee.edit{% endtrans %}
    {% else %}
        {% trans %}common.error{% endtrans %}
    {% endif %}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h1>{{ title }}</h1>

        <div class="btn_panel">
            <a href="{{ path('employee_index') }}" class="btn btn-primary">
                {% trans %}common.back{% endtrans %}
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                    <div class="total_data">
                        <h3>{% trans %}employee.total_data{% endtrans %}</h3>
                        {{ form_row(form.name) }}
                        {{ form_row(form.surname) }}
                        {{ form_row(form.patronymic) }}
                        {{ form_row(form.birthday) }}
                        {{ form_row(form.passport) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.address) }}
                        {% if action == 'edit' %}
                            <div class="col-lg-12">
                                <button class="btn btn-default right" type="button" id="edit-total-data">
                                    {% trans %}common.edit{% endtrans %}
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="profile_data">
                        <h3>{% trans %}employee.profile_data{% endtrans %}</h3>
                        {{ form_widget(form) }}
                    </div>
                <input
                        type="submit"
                        value="{% trans %}common.save{% endtrans %}"
                        class="btn btn-default pull-right"
                >
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        jQuery(document).ready(function () {
            {% if action == 'edit' %}
                $('.total_data input').prop('disabled', true);
                $('#edit-total-data').on('click', function () {
                    $('.total_data input').prop('disabled', false);
                    $(this).hide();
                });

            {% endif %}

            AppProject.changesSelectDataByParentSelect(
                '{{ form.functionTable.vars.id }}',
                '{{ form.department.vars.id }}',
                '{{ path('function_get_functions_for_department') }}'
            );

            $('.form-horizontal').on('submit', function () {
               $('input').prop('disabled', false);
                $('select').prop('disabled', false);
            });

        });
    </script>

{% endblock %}
