{% extends 'base.html.twig' %}

{% block title %}{% trans %}employee.title{% endtrans %}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {{  'employee.title'|trans }}
            </h1>
            <br>
            <div class="alert alert-info top-alert" role="alert">
                <i class="mdi mdi-information"></i>
                <span>{% trans with {'count' : amountWorkedEmployee, 'salary': salary} %}
                        employee.message
                    {% endtrans %}</span>
            </div>
            <br>
            <div class="btn_panel">
                <a href="{{ path('employee_new') }}" class="btn btn-success">
                    {{  'common.add'|trans }}
                </a>
                <a href="{{ path('employee_archive') }}" class="btn btn-danger right">
                    {{  'common.to_archive'|trans }}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{  'employee.name'|trans }}</th>
                    <th>{{  'employee.function_table'|trans }}</th>
                    <th>{{  'employee.department'|trans }}</th>
                    <th>{{ 'revenue.currency'|trans }}</th>
                    <th>{{  'employee.salary'|trans }}</th>
                    <th class="actions_cell">{% trans %}common.actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in pagination %}
                    <tr>
                        <td>{{ employee.__toString }}</td>
                        <td>
                            {% if employee.getFunctionTable %}
                                {{ employee.getFunctionTable.getName }}
                            {% endif %}
                        </td>
                        <td>
                            {% if employee.getFunctionTable %}
                                {{ employee.getFunctionTable.getDepartment.__toString }}
                            {% endif %}
                        </td>
                        <td>
                            {% if employee.getCurrency %}
                                {{ employee.getCurrency.getName }}
                            {% endif %}
                        <td>{{ employee.salary }}</td>
                        <td class="actions_cell">
                            <a href="{{ path('employee_edit', {'id': employee.getId}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{% trans %}common.edit{% endtrans %}"></i>
                            </a>
                            <span
                                    class="delete_entity"
                                    data-delete-link="{{ path('employee_delete', {'id': employee.getId}) }}"
                                    data-toggle="modal"
                                    data-target="#entity_delete"
                                    role="button"
                            >
                                    <i class="glyphicon glyphicon-trash"
                                       title="{% trans %}common.delete{% endtrans %}"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityDeleteListener($('.delete_entity'), $('#delete_entity_form'));
        });
    </script>
{% endblock %}
