<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!-- App title -->
    <title>{% block title %}Pinox - Responsive Admin Dashboard Template{% endblock %}</title>

    <!-- App css -->
    {% stylesheets
        '@morris_css'
        '@bootstrap_css'
        '@core_css'
        '@components_css'
        '@icons_css'
        '@pages_css'
        '@menu_css'
        '@responsive_css'
        '@switchery_css'
        '@select2_css'
        '@style_css'
        '@bootstrap_datepicker_css' combine=false %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    <!-- App css -->

    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% javascripts
        '@modernizr_js'
        combine=false %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>

{% block body %}
    <body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="{{ path('dashboard') }}" class="logo"><span>Pi<span>nox</span></span><i class="mdi mdi-layers"></i></a>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">

                    <!-- Navbar-left -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>
                    </ul>
                    <!-- Right(Notification) -->
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown user-box">
                            <a href="" class="dropdown-toggle waves-effect user-link with-margin" data-toggle="dropdown" aria-expanded="true">
                                <i class="mdi mdi-settings"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                                <li>
                                    <h5>Hi, {{ app.user.username }}</h5>
                                </li>
                                <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Profile</a></li>
                                <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Settings</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="ti-power-off
                                m-r-5"></i> {{ 'common.logout'|trans }}</a></li>
                            </ul>
                        </li>

                    </ul> <!-- end navbar-right -->
                    {% if app.session.get('rates') is defined and app.session.get('rates') is not null %}
                        {% set rates = app.session.get('rates') %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <button class="button-menu-mobile waves-effect small-button" >
                                    <i class="mdi mdi-cash-usd"></i>
                                    <span>{{ rates.currencyCode }}</span>
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </li>
                        </ul>
                    {% endif %}
                    <!-- Right(Notification end) -->
                </div><!-- end container -->
            </div><!-- end navbar -->
        </div>
        <!-- Top Bar End -->


        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul>
                        <li class="menu-title">{{ 'common.navigate'|trans }}</li>
                        <li>
                            <a href="{{ path('dashboard') }}" class="waves-effect"><i class="mdi mdi-view-dashboard"></i>
                                <span> {{ 'common.main_page'|trans }} </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('users_index') }}" class="waves-effect"><i class="mdi mdi mdi-account"></i>
                                <span>{% trans %}user.title{% endtrans %}</span>
                            </a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-multiple-outline"></i>
                                <span> {% trans %}common.team{% endtrans %}</span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="{{ path('dashboard_view') }}">Dashboard</a></li>
                                <li>
                                    <a href="{{ path('department_index') }}">
                                        {% trans %}department.departments{% endtrans %}
                                    </a>
                                </li>
                                <li><a href="{{ path('function_index') }}">
                                        {{ 'function.title'|trans }}</a>
                                </li>
                                <li><a href="{{ path('employee_index') }}">
                                        {{ 'employee.title'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="glyphicon glyphicon-wrench"></i>
                                <span> {{ 'common.tools'|trans }} </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('telegram_bot_index') }}">
                                        {{ 'telegram.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('participant_index') }}">
                                        {{ 'participant.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('mail_chimp_index') }}">
                                        {{ 'mail_chimp.title'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-bank"></i>
                                <span> {{ 'common.bookkeeping'|trans }}</span>&nbsp;<span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('bill_index') }}">
                                        {{ 'bill.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('revenue_index') }}">
                                        {{ 'revenue.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('bill_type_index') }}">
                                        {{ 'category.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('regular_payment_index') }}">
                                        {{ 'regular_payment.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('currency_index') }}">
                                        {{ 'currency.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('debenture_index') }}">
                                        {{ 'debenture.title'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi  mdi-database"></i>
                                <span>{{ 'common.initial_data'|trans }}</span>&nbsp;<span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('traffic_source_index') }}">
                                        {{ 'traffic_source.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('country_index') }}">
                                        {{ 'country.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('vertical_offer_index') }}">
                                        {{ 'vertical_offer.title'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-card-details"></i>
                                <span> {{ 'common.affiliate_service'|trans }}</span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('affiliate_index') }}">
                                        {{ 'affiliate.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('affiliate_reminder') }}">
                                        {{ 'affiliate.reminders'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-folder-account"></i>
                                <span> {{ 'common.advertiser_service'|trans }}</span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('advertiser_index') }}">
                                        {{ 'advertiser.title'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('advertiser_balance') }}">
                                        {{ 'advertiser.balance'|trans }}
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            {% block content %}
            {% endblock %}

            <footer class="footer text-right">
                2016 - 2017 © Pinox.
            </footer>

        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="mdi mdi-close-circle-outline"></i>
            </a>
            <h4 class="">Settings</h4>
            <div class="setting-list nicescroll">
                <div class="row m-t-20">
                    <div class="col-xs-8">
                        <h5 class="m-0">Notifications</h5>
                        <p class="text-muted m-b-0"><small>Do you need them?</small></p>
                    </div>
                    <div class="col-xs-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                    </div>
                </div>

                <div class="row m-t-20">
                    <div class="col-xs-8">
                        <h5 class="m-0">API Access</h5>
                        <p class="m-b-0 text-muted"><small>Enable/Disable access</small></p>
                    </div>
                    <div class="col-xs-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                    </div>
                </div>

                <div class="row m-t-20">
                    <div class="col-xs-8">
                        <h5 class="m-0">Auto Updates</h5>
                        <p class="m-b-0 text-muted"><small>Keep up to date</small></p>
                    </div>
                    <div class="col-xs-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                    </div>
                </div>

                <div class="row m-t-20">
                    <div class="col-xs-8">
                        <h5 class="m-0">Online Status</h5>
                        <p class="m-b-0 text-muted"><small>Show your status to all</small></p>
                    </div>
                    <div class="col-xs-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Right-bar -->

    </div>
    <!-- END wrapper -->



        <script>
            var resizefunc = [];
        </script>
    {% javascripts
        '@jquery_js'
        '@bootstrap_js'
        '@detect_js'
        '@fastclick_js'
        '@blockUI_js'
        '@waves_js'
        '@slimscroll_js'
        '@scrollTo_js'
        '@switchery_js'
        '@morris_js'
        '@raphael_js'
        '@waypoints_js'
        '@counterup_js'
        '@dashboard_js'
        '@select2_js'
        '@moment_js'
        '@bootstrap_datepicker_js'
        '@core_js'
        '@app_js'
        combine=false %}
        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <script>
        $(function () {
            AppProject.decorateSelectFormField();
            AppProject.decorateDateFormField();

            {% if app.session.get('rates') is defined and app.session.get('rates') is not null %}
            $('.small-button').on('click', function () {
                $.ajax({
                    type: "GET",
                    url: '{{ path('currency_delete_rate_currency') }}',
                    dataType: 'json',
                    success: function(data) {
                        if (data == 'ok') {
                            $('.small-button').remove();
                            window.location.reload();
                        } else {
                            alert('{{ 'currency.delete_lock_currency'|trans }}');
                        }
                    },
                    error: function () {
                        alert('{{ 'common.error_server'|trans }}');
                    }
                });
            });

            {% endif %}
        });
    </script>

        {% block javascripts %}{% endblock %}
    </body>
{% endblock %}
</html>
