<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Pinox</title>
    <meta name="viewport" content="min-width=device-width; initial-scale=1.0;">
</head>
<body style="margin: 0; padding: 0;font-family: 'Trebuchet MS', Helvetica, sans-serif;">
<table border="0" cellpadding="0" cellspacing="0"
       style="margin:0; padding:0; width: 100%; background: #050505 url('{{ serverUrl }}/images/email_images/body_bg.jpg') no-repeat center top;">
    <tr>
        <td>
            <center>
                <table style="margin:0; padding:0; max-width: 700px; width: 100%; font-size:0;" border="0"
                       cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center">
                            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; width: 100%;">
                                <tr>
                                    <td align="center">
                                        <a target="_blank" href="{{ url }}"
                                           style="outline:none; text-decoration: none;">
                                            <img style="display:inline-block; margin-top: 40px;" alt="logo"
                                                 src="{{ serverUrl }}/images/email_images/logo.png">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <span style="display:inline-block; padding: 0; font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #fff; font-size: 18px; line-height: 18px; text-transform: uppercase; font-weight: 200; -webkit-text-size-adjust:none; text-align:left; margin-top:9px;">
                                            Mobile Affiliate Network
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0"
                                   style="margin:10px 0 0; padding:0; width: 650px;">
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0"
                                               style="margin:0; padding:0; width: 100%; background: #fff;">
                                            <tr>
                                                <td colspan="2">
                                                    {% if title %}
                                                        <p style="font-family:'Trebuchet MS', Helvetica, sans-serif;color:black;font-size:15px;line-height:18px;font-weight:200;-webkit-text-size-adjust:none;text-align:center;padding:8px;margin:10px 20px;">
                                                            {{ title|raw }}
                                                        </p>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% for hotOffer in hotOffers %}
                                                <tr>
                                                    <td>
                                                        <img style="display:inline-block;float: left;margin: 18px 0 25px 16px;"
                                                             alt="logo" src="{{ officeUrl ~ hotOffer.logo }}">
                                                        <div style="width: 368px; float: left; margin-left: 23px;">
                                                          <span style="display:inline-block; padding: 0; font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #2d2d2d; font-size: 16px; line-height: 16px; font-weight: 900; -webkit-text-size-adjust:none; text-align:left; margin-top:22px;">
                                                            {{ hotOffer.title ~ ' - ' ~ hotOffer.payout ~ '$' }}
                                                          </span>
                                                            <span style="display:inline-block; padding: 0; font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #2d2d2d; font-size: 14px; line-height: 16px; font-weight: 400; -webkit-text-size-adjust:none; text-align:left; margin-top:2px;">
                                                           {{ hotOffer.description }}
                                                          </span>
                                                            <a target="_blank"
                                                               href="{{ myPinox }}/{{ hotOffer.affiseId }}"
                                                               style="display: block; width: 114px; height: 16px; border-width: 2px; border-color: #78963e; border-style: solid; outline:none; font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #78963e; font-size: 14px; line-height: 14px; font-weight: 900; text-decoration: none; text-align: center; padding: 10px 0; margin:14px auto 33px auto; float: right;">View
                                                                details &gt;</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                        {% if offersByCategory %}
                                            <table border="0" cellpadding="0" cellspacing="0"
                                                   style="margin:0;padding:0; width: 100%; height: 80px; background: url('{{ serverUrl }}/images/email_images/news_offers_bg.jpg') no-repeat center top;">
                                                <tr>
                                                    <td valign="top">
                                                        <img style="display:inline-block; margin:21px 0 0 20px; float: left;"
                                                             alt="logo" src="{{ serverUrl }}/images/email_images/news_offers_list.png">
                                                        <span style="display:inline-block; padding: 0; font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #fff; font-size: 21px; line-height: 21px; font-weight: 600; -webkit-text-size-adjust:none; text-align:left; float: left; margin:26px 0 0 16px">
                                                            New offers
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                            {% for category, offers in offersByCategory %}
                                                <table style="width: 100%;background-color: white;font-family: 'Trebuchet MS', Helvetica, sans-serif;padding: 10px;font-size: 14px;">
                                                    <tbody style="font-family: 'Trebuchet MS', Helvetica, sans-serif;font-size: 14px;">
                                                    <tr>
                                                        <td colspan="3" style="'Trebuchet MS', Helvetica, sans-serif;text-align:left;">{{ category }}</td>
                                                    </tr>
                                                    <tr style="width:75%;">
                                                        <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; width: 55%">Offer
                                                        </td>
                                                        <td>Countries</td>
                                                        <td style="width: 10%">Payout</td>
                                                    </tr>
                                                    {% for offer in offers %}
                                                        <tr>
                                                            <td style="width: 75%">
                                                                <a href="{{ myPinox }}/{{ offer.getAffiseId }}"
                                                                   style="text-decoration: none;">
                                                                    {{ offer.title }}
                                                                </a>
                                                            </td>
                                                            <td>
                                                                {% for country in offer.getCountries %}
                                                                    <p style="margin-top: 5px;margin-bottom: 5px;display:inline-block">
                                                                        <img src="{{ serverUrl }}{{ pathFlags }}/{{ country.image }}">
                                                                    </p>
                                                                {% endfor %}
                                                            </td>
                                                            <td style="width: 10%">{{ offer.payout }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endfor %}
                                            <table border="0" cellpadding="0" cellspacing="0"
                                                   style="margin:0; padding:0; width: 100%; background: #fff; ">
                                                <tr style="width: 100%;">
                                                    <td style="width: 50%">
                                                        <a target="_blank" href="{{ myPinox }}/list" style="outline:none; float: right; display:inline-block; width: 100%; height: 25px; padding: 22px 0; background: #474747; font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 18px; line-height: 18px; color: #fff; text-decoration: none; text-align: center;">
                                                            &lt; View other <span style="color: #bcea63">new offers</span>
                                                        </a>
                                                    </td>
                                                    <td style="width: 50%">
                                                        <a target="_blank" href="https://my.pinox.com/signup"
                                                           style="outline:none; float: right; display:inline-block; width: 100%; height: 25px; padding: 22px 0; background: #78963e; font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 18px; line-height: 18px; color: #fff; text-decoration: none; text-align: center;">Get
                                                            profit &gt;</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        {% endif %}
                                        <table border="0" cellpadding="0" cellspacing="0"
                                               style="padding:0; width: 100%; height: 80px; background: url('{{ serverUrl }}/images/email_images/hot_offers_bg.jpg') no-repeat center top;">
                                            <tr>
                                                <td valign="top">
                                                    <img style="display:inline-block; margin:21px 0 0 20px; float: left;"
                                                         alt="logo" src="{{ serverUrl }}/images/email_images/hot_offers_list.png">
                                                    <span style="display:inline-block; padding: 0; font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #fff; font-size: 21px; line-height: 21px; font-weight: 600; -webkit-text-size-adjust:none; text-align:left; float: left; margin:26px 0 0 16px">
                                                        Hot offers
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                        <table style="width: 100%;background-color: white;font-size: 14px;font-family: 'Trebuchet MS', Helvetica, sans-serif;padding: 10px;">
                                            <tbody>
                                            <tr>
                                                <td style="width:65%;">Offer</td>
                                                <td style="width:20%;">Countries</td>
                                                <td>Cr</td>
                                                <td>Epc</td>
                                            </tr>
                                            {% for offer in topOffers %}
                                                <tr>
                                                    <td style="width:65%;">
                                                        <a href="{{ myPinox }}/{{ offer.id }}" style="text-decoration: none;">{{ offer.title }}</a>
                                                    </td>
                                                    <td style="width:15%;">
                                                        {% for country in offer.countries %}
                                                            {% for code in codes %}
                                                                {% if country == code.code %}
                                                                    <p style="margin-top: 5px;margin-bottom: 5px;display:inline-block">
                                                                        <img src="{{ serverUrl }}{{ pathFlags }}/{{ code.image }}" >
                                                                    </p>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>{{ offer.cr }}</td>
                                                    <td>{{ offer.epc }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0"
                                               style="margin:0; padding:0; width: 100%; background: #fff;">
                                            <tr style="width: 100%;">
                                                <td style="width: 50%">
                                                    <a target="_blank" href="https://my.pinox.com/offer/list"
                                                       style="outline:none; float: right; display:inline-block; width: 100%; height: 25px; padding: 22px 0; background: #474747; font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 18px; line-height: 18px; color: #fff; text-decoration: none; text-align: center;">
                                                        &lt; View other <span style="color: #f5581f">hot offers</span></a>
                                                </td>
                                                <td style="width: 50%">
                                                    <a target="_blank" href="https://my.pinox.com/signup"
                                                       style="outline:none; float: right; display:inline-block; width: 100%; height: 25px; padding: 22px 0; background: #f5581f; font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 18px; line-height: 18px; color: #fff; text-decoration: none; text-align: center;">Monetize
                                                        now! &gt;</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0"
                                   style=" padding:0; width: 650px; background: #171717;">
                                <tr align="center">
                                    <td>
                      <span style="display:inline-block; padding: 0; font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #5a5a5a; font-size: 18px; line-height: 18px; font-weight: 900; text-transform: uppercase; -webkit-text-size-adjust:none; text-align:left; margin-top:14px;">
                        Stay in touch!
                      </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="margin:15px 0 22px 0; text-align: center;">
                                            <a target="_blank" href="https://www.facebook.com/pinoxcom/"
                                               style="outline:none; margin: 0 10px;">
                                                <img src="{{ serverUrl }}/images/email_images/facebook.png" alt="facebook">
                                            </a>
                                            <a target="_blank" href="https://www.youtube.com/"
                                               style="outline:none; margin: 0 10px;">
                                                <img src="{{ serverUrl }}/images/email_images/youtube.png" alt="youtube">
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/organization/10975863/"
                                               style="outline:none; margin: 0 10px;">
                                                <img src="{{ serverUrl }}/images/email_images/linkedin.png" alt="linkedin">
                                            </a>
                                            <a target="_blank" href="http://instagram.com/napoleoncasino?ref=badge"
                                               style="outline:none; margin: 0 5px;">
                                                <img src="{{ serverUrl }}/images/email_images/instagram.png" alt="instagram">
                                            </a>
                                            <a target="_blank" href="https://vk.com/pinoxcom"
                                               style="outline:none; margin: 0 10px;">
                                                <img src="{{ serverUrl }}/images/email_images/vk.png" alt="vk">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0"
                                   style="margin:0; padding:0; width: 650px; background: #1d1d1d;">
                                <tr align="center">
                                    <td>
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>
                                        <a target="_blank" href="#"
                                           style="outline:none; display:inline-block; font-size: 12px; line-height: 12px; color: #3c3c3c; margin: 5px 8px 0 8px;">why
                                            did I get this?</a>
                                        <a target="_blank" href="#"
                                           style="outline:none; display:inline-block; font-size: 12px; line-height: 12px; color: #3c3c3c; margin: 5px 8px 0 8px;">unsubscribe
                                            from this list</a>
                                        <a target="_blank" href="#"
                                           style="outline:none; display:inline-block; font-size: 12px; line-height: 12px; color: #3c3c3c; margin: 5px 8px 0 8px;">update
                                            subscription preferences</a>
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>
                      <span style="display:inline-block; padding: 0; font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #3c3c3c; font-size: 12px; line-height: 12px; font-weight: 400; -webkit-text-size-adjust:none; text-align:left; margin-top:3px; letter-spacing: -1px;">
                        Pinox · Clickbang LP, Suite 2, 5 St. Vincent street · Edinburgh, 220040 · United Kingdom
                      </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <a target="_blank" href="{{ url }}"
                                           style="outline:none; text-decoration: none;">
                                            <img style="display:inline-block; margin: 20px 0 29px 0;" alt="logo"
                                                 src="{{ serverUrl }}/images/email_images/footer_logo.png">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
</body>
</html>