{% extends 'base.html.twig' %}

{% block title %}{{ 'advertiser.archive'|trans }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>
                {{ 'advertiser.archive'|trans }}
            </h1>
            <div class="btn_panel">
                <a href="{% if balance %}{{ path('advertiser_balance') }}{% else %}{{ path('advertiser_index') }}{% endif %}"
                   class="btn btn-info">
                    {{  'common.back'|trans }}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'advertiser.title_column'|trans }}</th>
                    <th>{{ 'advertiser.contact'|trans }}</th>
                    <th>{{ 'advertiser.email'|trans }}</th>
                    <th>{{ 'advertiser_info.traffic_source'|trans }}</th>
                    <th>{{ 'advertiser_info.vertical_offer'|trans }}</th>
                    <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for archiveAdvertiser in archiveAdvertisers %}
                    <tr>
                        <td>{{ archiveAdvertiser.title }}</td>
                        <td>{{ archiveAdvertiser.contact }}</td>
                        <td>{{ archiveAdvertiser.email }}</td>
                        {% if archiveAdvertiser.getAdvertiserInfo %}
                            <td>
                                {% if archiveAdvertiser.getAdvertiserInfo.trafficSource %}
                                    {{  archiveAdvertiser.getAdvertiserInfo.trafficSource}}
                                {% endif %}
                            </td>
                            <td>
                                {% if archiveAdvertiser.getAdvertiserInfo.verticalOffer %}
                                    {{  archiveAdvertiser.getAdvertiserInfo.verticalOffer }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td></td><td></td>
                        {% endif %}
                        <td class="actions_cell">
                            <a href="{{ path('advertiser_info_edit', {'id': archiveAdvertiser.getAdvertiserInfo.id}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}

