{% extends 'base.html.twig' %}

{% block title %}{{ 'advertiser.balance'|trans }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>
                {{ 'advertiser.balance'|trans }}
            </h1>
            {% if totalBalanceByCurrency %}
                <div class="alert alert-info top-alert" role="alert">
                    <i class="mdi mdi-information"></i>
                    <span>{{ 'common.total'|trans ~ ' USD ' ~ totalBalanceByCurrency }} </span>
                </div>
            {% endif %}
            <div class="btn_panel">
                <a href="{{ path('advertiser_archive', {'balance' : true }) }}" class="btn btn-danger right">
                    {{  'common.to_archive'|trans }}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'advertiser.title_column'|trans }}</th>
                    <th>{{ 'advertiser.currency_balance'|trans }}</th>
                    <th class="other-width-column" >{{ 'advertiser.note'|trans }}</th>
                    <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for advertiser in pagination %}
                    <tr>
                        <td>{{ advertiser.title }}</td>
                        <td>{{ advertiser.getBalanceAdvertiser }}
                        </td>
                        <td class="other-width-column">{{ advertiser.note }}</td>
                        <td class="actions_cell">
                            <a href="{{ path('advertiser_payment_index', {'id': advertiser.id}) }}">
                                <i class="glyphicon glyphicon-eye-open" title="{{ 'common.view'|trans }}"></i>
                            </a>
                            <a href="{{ path('payment_advertiser_new', {'id' : advertiser.getId}) }}">
                                <i class="glyphicon glyphicon-plus " title="{{ 'common.add'|trans }}"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}

