{% extends 'base.html.twig' %}

{% block title %}{{ 'advertiser.title'|trans }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>
                {{ 'advertiser.title'|trans }}
            </h1>
            <div class="btn_panel">
                <a href="{{ path('advertiser_archive') }}" class="btn btn-danger right">
                    {{  'common.to_archive'|trans }}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'advertiser.title_column'|trans }}</th>
                    <th>{{ 'advertiser.contact'|trans }}</th>
                    <th>{{ 'advertiser.email'|trans }}</th>
                    <th>{{ 'advertiser_info.traffic_source'|trans }}</th>
                    <th>{{ 'advertiser_info.vertical_offer'|trans }}</th>
                    <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for advertiser in pagination %}
                    <tr>
                        <td>{{ advertiser.title }}</td>
                        <td>{{ advertiser.contact }}</td>
                        <td>{{ advertiser.email }}</td>
                        {% if advertiser.getAdvertiserInfo %}
                            <td>
                                {% if advertiser.getAdvertiserInfo.trafficSource %}
                                    {{  advertiser.getAdvertiserInfo.trafficSource}}
                                {% endif %}
                            </td>
                            <td>
                                {% if advertiser.getAdvertiserInfo.verticalOffer %}
                                    {{  advertiser.getAdvertiserInfo.verticalOffer }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td></td><td></td>
                        {% endif %}
                        <td class="actions_cell">
                            <a href="{{ path('advertiser_view', {'id': advertiser.id}) }}">
                                <i class="glyphicon glyphicon-eye-open" title="{{ 'common.view'|trans }}"></i>
                            </a>
                            <a href="
{% if advertiser.getAdvertiserInfo %}
{{ path('advertiser_info_edit', {'id': advertiser.getAdvertiserInfo.id}) }}
{% else %}
{{ path('advertiser_info_new', {'advertiser' : advertiser.id}) }}
{% endif %}
">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}

