{% extends 'base.html.twig' %}

{% block title %}{{ 'advertiser.card_title'|trans }}{% endblock %}

{% block content %}
    {% set advertiserInfo = advertiser.getAdvertiserInfo %}
    <div class="content">
        <div class="container">
            <h1>
                {{ 'advertiser.card_title'|trans }}
            </h1>
            <div class="btn_panel">
                <a href="
{% if advertiserInfo %}
{{ path('advertiser_info_edit', {'id': advertiserInfo.id}) }}
{% else %}
{{ path('advertiser_info_new', {'advertiser' : advertiser.id}) }}
{% endif %}" class="btn btn-success">
                    {{ 'common.edit'|trans }}
                </a>

                <a href="{{ path('advertiser_index') }}" class="btn btn-info right">
                    {{  'common.back'|trans }}
                </a>
            </div>
            <table class="table table-hidden">
                <tbody>
                    <tr>
                        <td>{{ 'advertiser.title_column'|trans }}</td>
                        <td>{{ advertiser.title }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'advertiser.contact'|trans }}</td>
                        <td>{{ advertiser.contact }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'advertiser.email'|trans }}</td>
                        <td>{{ advertiser.email }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'advertiser.skype'|trans }}</td>
                        <td>{{ advertiser.skype }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'advertiser.note'|trans }}</td>
                        <td>{{ advertiser.note }}</td>
                    </tr>
                    {% if advertiserInfo %}
                        <tr>
                            <td>{{ 'advertiser_info.traffic_source'|trans }}</td>
                            <td>
                                {% if advertiserInfo.trafficSource %}
                                    {{  advertiserInfo.trafficSource}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'advertiser_info.vertical_offer'|trans }}</td>
                            <td>
                                {% if advertiserInfo.verticalOffer %}
                                    {{  advertiserInfo.verticalOffer }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'advertiser_info.country'|trans }}</td>
                            <td>
                                {% if advertiserInfo.getCountries %}
                                    <ul>
                                    {% for country in advertiserInfo.getCountries %}
                                        <li>{{ country.name }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'advertiser_info.comment'|trans }}</td>
                            <td>
                                {{ advertiserInfo.comment }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'advertiser_info.active'|trans }}</td>
                            <td>
                                {% if advertiserInfo.active %}
                                    {{ 'common.yes'|trans }}
                                {% else %}
                                    {{ 'common.no'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}

