{% extends 'base.html.twig' %}

{% block title %}{% trans %}department.departments{% endtrans %}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {% trans %}department.departments{% endtrans %}
            </h1>
            <br>
            <div class="btn_panel">
                <a href="{{ path('department_new') }}" class="btn btn-success">
                    {% trans %}common.add{% endtrans %}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans %}department.name{% endtrans %}</th>
                    <th>{% trans %}department.employee_main{% endtrans %}</th>
                    <th>{% trans %}department.parent{% endtrans %}</th>
                    <th>{% trans %}department.enabled{% endtrans %}</th>
                    <th class="actions_cell">{% trans %}common.actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for department in pagination %}
                    <tr>
                        <td>{{ department.name }}</td>
                        <td>{% if department.getEmployee %}
                                {{ department.getEmployee.__toString }}
                            {% endif %}
                        </td>
                        <td>
                            {% if department.getParent %}
                                {{ department.getParent.getName }}
                            {% endif %}
                        </td>
                        <td>
                            {% if department.isEnabled %}
                                {% trans %}common.yes{% endtrans %}
                            {% else %}
                                {% trans %}common.no{% endtrans %}
                            {% endif %}
                        </td>
                        <td class="actions_cell">
                            <a href="{{ path('department_edit', {'id': department.getId}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{% trans %}common.edit{% endtrans %}"></i>
                            </a>
                            <span
                                    class="delete_entity"
                                    data-delete-link="{{ path('department_delete', {'id': department.getId}) }}"
                                    data-toggle="modal"
                                    data-target="#entity_delete"
                                    role="button"
                            >
                                    <i class="glyphicon glyphicon-trash"
                                       title="{% trans %}common.delete{% endtrans %}"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityDeleteListener($('.delete_entity'), $('#delete_entity_form'));
        });
    </script>
{% endblock %}
