<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!-- App title -->
    <title>{% block title %}Pinox{% endblock %}</title>

    <!-- App css -->
    {% stylesheets
    '@bootstrap_css'
    '@core_css'
    '@components_css'
    '@icons_css'
    '@pages_css'
    '@menu_css'
    '@responsive_css' combine=false %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    <!-- App css -->

    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% javascripts
    '@modernizr_js'
    combine=false %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>

{% block body %}
    <body class="bg-transparent">
        {% block content %}
        {% endblock %}
        {% block fos_user_content %}
        {% endblock %}
    <script>
        var resizefunc = [];
    </script>
    {% javascripts
    '@jquery_js'
    '@bootstrap_js'
    '@detect_js'
    '@fastclick_js'
    '@blockUI_js'
    '@waves_js'
    '@slimscroll_js'
    '@scrollTo_js'
    '@core_js'
    '@app_js'
    combine=false %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
    </body>
{% endblock %}
</html>
