/** Loader */
.windows8 {
    position: relative;
    width: 74px;
    height:74px;
    margin:auto;
}

.windows8 .wBall {
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 3.6325s infinite;
    -o-animation: orbit 3.6325s infinite;
    -ms-animation: orbit 3.6325s infinite;
    -webkit-animation: orbit 3.6325s infinite;
    -moz-animation: orbit 3.6325s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 9px;
    height: 9px;
    background: rgb(0,0,0);
    left:0px;
    top:0px;
    border-radius: 9px;
}

.windows8 #wBall_1 {
    animation-delay: 0.796s;
    -o-animation-delay: 0.796s;
    -ms-animation-delay: 0.796s;
    -webkit-animation-delay: 0.796s;
    -moz-animation-delay: 0.796s;
}

.windows8 #wBall_2 {
    animation-delay: 0.153s;
    -o-animation-delay: 0.153s;
    -ms-animation-delay: 0.153s;
    -webkit-animation-delay: 0.153s;
    -moz-animation-delay: 0.153s;
}

.windows8 #wBall_3 {
    animation-delay: 0.3165s;
    -o-animation-delay: 0.3165s;
    -ms-animation-delay: 0.3165s;
    -webkit-animation-delay: 0.3165s;
    -moz-animation-delay: 0.3165s;
}

.windows8 #wBall_4 {
    animation-delay: 0.4695s;
    -o-animation-delay: 0.4695s;
    -ms-animation-delay: 0.4695s;
    -webkit-animation-delay: 0.4695s;
    -moz-animation-delay: 0.4695s;
}

.windows8 #wBall_5 {
    animation-delay: 0.633s;
    -o-animation-delay: 0.633s;
    -ms-animation-delay: 0.633s;
    -webkit-animation-delay: 0.633s;
    -moz-animation-delay: 0.633s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}
/* loader (end) */

.alert > span {
    margin-left: 10px;
}
.top-alert {
    margin-top:10px;
}

.actions_cell {
    width: 7em;
    text-align: right;
}

.actions_cell:hover a {
    text-decoration: none;
}

.delete_entity, .entity_confirm {
    color: #337ab7;
    cursor: pointer;
}

.delete_entity:hover, .delete_entity:focus {
    color: #23527c;
}

.center-inside {
    text-align: center;
}

.right {
    float: right;
}

.display-none {
    display: none;
}
/* User (start) */
.success {
    color: #4bd396 !important;
}

.danger {
    color: #f5707a !important;
}
/* User (end) */

/* Dashboard (start) */
.big-text {
    font-size: 20px;
}

.dashboard-div {
    margin-bottom: 20px;
}

.dashboard-div > a {
    cursor: pointer;
}

.with-margin {
    margin-top: 9px;
}

.small-button > i {
    font-size: 16px;
    line-height: 68px;
}
.small-button > span {
    font-size: 16px;
}
.inline-block {
    display: inline-block;
}
.padding {
    padding-top: 50px;
}
/* Dashboard (end) */

/* Tools (start) */
.with-marg-bottom {
    margin-bottom: 70px;
}
.with-marg-left {
    margin-left: 10px;
}

.add-topoffer {
    font-size:21px;
    cursor:pointer;
    color: #337ab7;
}
/* Tools (end) */

.button-filter {
    padding: 0px !important;
    margin-top: 20px;
    margin-bottom: 30px;
}

.filter-label {
    padding-left:0px !important;
    text-align:left !important;
}

.filter-body {
    margin-top:20px;
}
.max-width {
    width: 100%;
}

.without-right-padding {
    padding-right: 0px;
}

.not-border > tr > td {
    border: none !important;
    padding: 4px !important;
}

.small-table {
    width: 40%;
}

.long-top-margin {
    margin-top: 48px;
}

.table-hidden {
    margin-top:5px;
}

/* PaymentAdvertiser (start) */
.other-width-column {
    width: 30%;
}
/* PaymentAdvertiser (end) */