{% extends 'base.html.twig' %}

{% block title %}{{ 'mail_chimp.template'|trans }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {{ 'mail_chimp.template'|trans }}
            </h1>
            <h3>{{ 'mail_chimp.offers_in_template'|trans }}</h3>
            <a href="{{ path('offer_index') }}" class="btn btn-success">{{ 'offer.title'|trans }}</a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'mail_chimp.affise_id'|trans }}</th>
                        <th>{{ 'mail_chimp.title_offer'|trans }}</th>
                        <th>{{ 'offer.privacy'|trans }}</th>
                        <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for offer in newOffersNoSend %}
                    <tr>
                        <td>{{ offer.affiseId }}</td>
                        <td>{{ offer.title }}</td>
                        <td>{{ offer.privacy }}</td>
                        <td class="actions_cell">
                            <a href="{{ path('offer_offer_for_template', {'id': offer.id}) }}">
                                <i class="glyphicon glyphicon-remove" title="{{ 'mail_chimp.delete_offer'|trans }}"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <h3>{{ 'mail_chimp.top_offers'|trans }}</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'mail_chimp.affise_id'|trans }}</th>
                    <th>{{ 'mail_chimp.title_offer'|trans }}</th>
                    <th>{{ 'offer.privacy'|trans }}</th>
                    <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for topOffer in topOffers %}
                    <tr>
                        <td>{{ topOffer.id }}</td>
                        <td>{{ topOffer.title }}</td>
                        <td>{{ topOffer.privacy }}</td>
                        <td class="actions_cell">
                            <i data-id="{{ topOffer.id }}" class="mdi mdi-checkbox-marked-outline add-topoffer" title="{{ 'common.add'|trans }}"></i>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="form-group">
                <div class="alert alert-info top-alert" role="alert">
                    <i class="mdi mdi-information"></i>
                    <span>{{ 'mail_chimp.warning_info'|trans|raw }}</span>
                </div>
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <a href="#" data-submit="{{ path('mail_chimp_generate') }}" class="btn btn-default pull-right with-marg-left">
                        {{ 'common.generate'|trans }}
                    </a>
                    <a href="#" data-submit="{{ path('mail_chimp_preview') }}" data-preview="true" class="btn btn-info pull-right">
                        {{ 'common.preview'|trans }}
                    </a>
                {{ form_end(form) }}
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('.form-horizontal').on('click', 'a', function (e) {
                var submitAction = $(this).attr('data-submit');
                var $form = $(e.delegateTarget);
                $form.attr('target', '');
                $form.attr('action', submitAction);

                if ($(this).attr('data-preview') == 'true') {
                    $form.attr('target', '_blank');
                }
                $form.submit();
            });

            $('.add-topoffer').on('click', function () {
                var id = $(this).attr('data-id');
                var $input = $('#{{ form.topOffers.vars.id }}');
                var value = $input.val();

                if (value.indexOf(id) == -1) {
                    $input.val(value + id + ';');
                }
            })
        });
    </script>
{% endblock %}

