{% extends 'base.html.twig' %}
{% block title %}Pinox - Responsive Admin Dashboard Template{% endblock %}

{% block content %}
<!-- Start content -->
<div class="content">
    <div class="container">
        <br>
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card-box widget-box-one">
                    <i class="mdi mdi-chart-areaspline widget-one-icon"></i>
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="{{ 'dashboard.debt_webmasters'|trans }}">
                            {{ 'dashboard.debt_webmasters'|trans }}
                        </p>
                        <h2>{{ totalBalance }}$</h2>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card-box widget-box-one">
                    <i class="mdi mdi-cash-multiple widget-one-icon"></i>
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="{{ 'availability_cash.title'|trans }}">
                            {{ 'availability_cash.title'|trans }}
                        </p>
                        <h2 class="inline-block">{{ totalCash }}$</h2>
                        <a href="{{ path('cash_index') }}"><i class="glyphicon glyphicon-pencil right padding"></i></a>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card-box widget-box-one">
                    <i class="mdi mdi-account-convert widget-one-icon"></i>
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="{{ 'dashboard.investments'|trans }}">
                            {{ 'dashboard.investments'|trans }}
                        </p>
                        <h2>{{ totalInvestment }}$</h2>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card-box widget-box-one">
                    <i class="mdi mdi-layers widget-one-icon"></i>
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="{{ 'dashboard.cost'|trans }}">
                            {{ 'dashboard.cost'|trans }}
                        </p>
                        <h2>{{ totalBills }}$</h2>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card-box widget-box-one">
                    <i class="mdi mdi-av-timer widget-one-icon"></i>
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="{{ 'dashboard.revenue'|trans }}">
                            {{ 'dashboard.revenue'|trans }}
                        </p>
                        <h2>{{ totalRevenue }}$</h2>
                    </div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-lg-4">
                <div class="card-box">

                    <h4 class="header-title m-t-0">Daily Sales</h4>

                    <div class="widget-chart text-center">
                        <div id="morris-donut-example"style="height: 245px;"></div>
                        <ul class="list-inline chart-detail-list m-b-0">
                            <li>
                                <h5 class="text-danger"><i class="fa fa-circle m-r-5"></i>Series A</h5>
                            </li>
                            <li>
                                <h5 class="text-success"><i class="fa fa-circle m-r-5"></i>Series B</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-4">
                <div class="card-box">

                    <h4 class="header-title m-t-0">Statistics</h4>
                    <div id="morris-bar-example" style="height: 280px;"></div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-4">
                <div class="card-box">

                    <h4 class="header-title m-t-0">Total Revenue</h4>
                    <div id="morris-line-example" style="height: 280px;"></div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->
{% endblock %}