{% extends 'base.html.twig' %}

{% block title %}{{ 'advertiser_info.title'|trans }}{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h1>{{ 'advertiser_info.title'|trans }}</h1>

        <div class="btn_panel">
            <a href="{{ path('advertiser_index') }}" class="btn btn-primary">
                {{ 'common.back'|trans }}
            </a>
        </div>
        <h3>{{ advertiser.contact  ~ '   ' ~ advertiser.email }}</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                <input
                        type="submit"
                        value="{{ 'common.save'|trans }}"
                        class="btn btn-default pull-right"
                >
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('.select2-selection--multiple').find('input').css('width', '100%');

            $('#{{ form.countries.vars.id }}').on('change', function () {
                $('.select2-selection--multiple').find('input').css('width', '100%');
            });
        });
    </script>
{% endblock %}
