{% extends 'base.html.twig' %}

{% if action == 'update' %}
    {% set title = 'offer.update'|trans  %}
{% else %}
    {% set title = 'offer.edit'|trans ~ ' ' ~ offer.title %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h1>{{ title }}</h1>

        <div class="btn_panel">
            <a href="{{ path('offer_index') }}" class="btn btn-primary">
                {{ 'common.back'|trans }}
            </a>
        </div>
        {% if action == 'update' %}
            <div class="alert alert-info top-alert" role="alert">
                <i class="mdi mdi-information"></i>
                <span>{{ 'offer.warning_info'|trans }}</span>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                <input
                        type="submit"
                        value="{{ 'common.save'|trans }}"
                        class="btn btn-default pull-right"
                >
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}