{% extends 'base.html.twig' %}

{% block title %}{{ 'offer.title'|trans }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>
                {{ 'offer.title'|trans }}
            </h1>
            <a href="{{ path('mail_chimp_index') }}" class="btn btn-info">
                {{ 'common.back'|trans }}
            </a>
            <a href="{{ path('offer_affise_update') }}" class="btn btn-success right">
                {{ 'common.update'|trans }}
            </a>
            <div class="filter-body long-top-margin">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'common.filter'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(filter) }}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_label(filter.affiseId) }}
                                {{ form_widget(filter.affiseId) }}
                                {{ form_errors(filter.affiseId) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(filter.title) }}
                                {{ form_widget(filter.title) }}
                                {{ form_errors(filter.title) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(filter.category) }}
                                {{ form_widget(filter.category) }}
                                {{ form_errors(filter.category) }}
                            </div>
                        </div>
                        <div class="col-sm-4 button-filter">
                            <button id="clear-form" type="button" class="btn btn-default">
                                {{ 'common.clear'|trans}}</button>
                            <input type="submit" value="{{ 'common.search'|trans }}" class="btn btn-info">
                        </div>
                        {{ form_end(filter) }}
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'offer.affise_id'|trans }}</th>
                    <th>{{ 'offer.title_column'|trans }}</th>
                    <th>{{ 'offer.category'|trans }}</th>
                    <th>{{ 'offer.privacy'|trans }}</th>
                    <th>{{ 'offer.in_template'|trans }}</th>
                    <th>{{ 'offer.description_mailchimp'|trans }}</th>
                    <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for offer in pagination %}
                    <tr>
                        <td>{{ offer.affiseId }}</td>
                        <td>{{ offer.title }}</td>
                        <td>
                            {% if  offer.category %}
                                {{ offer.category.name }}
                            {% endif %}
                        </td>
                        <td>{{ offer.privacy }}</td>
                        <td>
                            {% if offer.isSend == false %}
                                {{ 'common.yes'|trans }}
                            {% else %}
                                {{ 'common.no'|trans }}
                            {% endif %}
                        </td>
                        <td>{{ offer.descriptionMailchimp }}</td>
                        <td class="actions_cell">
                            <a href="{{ path('offer_offer_for_template', {'id': offer.id, 'offer' : true}) }}">
                                {% if offer.isSend == false  %}
                                    <i class="glyphicon glyphicon-remove" title="{{ 'mail_chimp.delete_offer'|trans }}"></i>
                                {% else %}
                                    <i class="glyphicon glyphicon-ok" title="{{ 'offer.add_to_template'|trans }}"></i>
                                {% endif %}
                            </a>
                            <a href="{{ path('offer_edit', {'id': offer.id}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadResetFormListener($('#clear-form'), $('form[name="{{ filter.vars.name }}"]'));
        });
    </script>
{% endblock %}

