{% extends 'base.html.twig' %}

{% block title %}{{ 'status.title'|trans }}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {{ 'status.title'|trans }}
            </h1>
            <div class="btn_panel">
                <a href="{{ path('status_new') }}" class="btn btn-success">
                    {{  'common.add'|trans }}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'status.name'|trans }}</th>
                    <th>{{ 'status.active'|trans }}</th>
                    <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for status in pagination %}
                    <tr>
                        <td>{{ status.name }}</td>
                        <td>
                            {% if status.active %}
                                {{ 'common.yes'|trans }}
                            {% else %}
                                {{ 'common.no'|trans }}
                            {% endif %}
                        </td>
                        <td class="actions_cell">
                            <a href="{{ path('status_edit', {'id': status.id}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                            <span
                                    class="delete_entity"
                                    data-delete-link="{{ path('status_delete', {'id': status.id}) }}"
                                    data-toggle="modal"
                                    data-target="#entity_delete"
                                    role="button"
                            >
                                    <i class="glyphicon glyphicon-trash"
                                       title="{{ 'common.delete'|trans }}"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityDeleteListener($('.delete_entity'), $('#delete_entity_form'));
        });
    </script>
{% endblock %}

