{% extends 'base.html.twig' %}

{% block title %}{{ 'debenture.title'|trans }}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {{ 'debenture.title'|trans }}
            </h1>
            <br>
            <div class="btn_panel">
                <a href="{{ path('debenture_new') }}" class="btn btn-success">
                    {{ 'common.add'|trans }}
                </a>

                <a href="{{ path('debenture_view_total_payment') }}" class="btn btn-success right">
                    {{ 'debenture.total_payment'|trans }}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'debenture.name'|trans }}</th>
                        <th>{{ 'debenture.payment'|trans }}</th>
                        <th>{{ 'debenture.date_payment'|trans }}</th>
                        <th>{{ 'debenture.currency'|trans }}</th>
                        <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for debenture in pagination %}
                    <tr>
                        <td>{{ debenture.name }}</td>
                        <td>{{ debenture.payment }}</td>
                        <td>
                            {% if debenture.datePayment %}
                                {{ debenture.datePayment|date('d.m.Y') }}
                            {% endif %}
                        </td>
                        <td>{{ debenture.currency }}</td>
                        <td class="actions_cell">
                            <a href="{{ path('debenture_edit', {'id': debenture.id}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                            <span
                                    class="delete_entity"
                                    data-delete-link="{{ path('debenture_delete', {'id': debenture.id}) }}"
                                    data-toggle="modal"
                                    data-target="#entity_delete"
                                    role="button"
                            >
                                    <i class="glyphicon glyphicon-trash"
                                       title="{{ 'common.delete'|trans }}"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityDeleteListener($('.delete_entity'), $('#delete_entity_form'));
        });
    </script>
{% endblock %}
