{% extends 'base.html.twig' %}

{% set title %}
    {% if action == 'new' %}
        {{ 'revenue.add'|trans }}
    {% elseif action == 'edit' %}
        {{ 'revenue.edit'|trans }}
    {% else %}
        {{ 'common.error'|trans }}
    {% endif %}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h1>{{ title }}</h1>

        <div class="btn_panel">
            <a href="{{ path('revenue_index') }}" class="btn btn-primary">
                {{ 'common.back'|trans }}
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                <input
                        type="submit"
                        value="{{ 'common.save'|trans }}"
                        class="btn btn-default pull-right"
                >
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        jQuery(document).ready(function () {
            AppProject.changesSelectDataByParentSelect(
                '{{ form.billType.vars.id }}',
                '{{ form.type.vars.id }}',
                '{{ path('bill_type_get_bill_types') }}'
            );

            $('.form-horizontal').on('submit', function () {
                $('select').prop('disabled', false);
            });

        });
    </script>

{% endblock %}