{% extends 'base.html.twig' %}

{% block title %}{{ 'bill.title'|trans }}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {{ 'bill.title'|trans }}
            </h1>
            <br>
            <div class="btn_panel">
                <a href="{{ path('bill_new') }}" class="btn btn-success">
                    {{ 'common.add'|trans }}
                </a>
                <a href="{{ path('bill_bills_by_month') }}" class="btn btn-success right">
                    {{ 'bill.stats_by_month'|trans }}
                </a>
            </div>
            <div class="filter-body">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'common.filter'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(filter) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_label(filter.billType) }}
                                {{ form_widget(filter.billType) }}
                                {{ form_errors(filter.billType) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(filter.hashtag) }}
                                {{ form_widget(filter.hashtag) }}
                                {{ form_errors(filter.hashtag) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_label(filter.currency) }}
                                {{ form_widget(filter.currency) }}
                                {{ form_errors(filter.currency) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(filter.createdAt.left_date) }}
                                {{ form_widget(filter.createdAt.left_date) }}
                                {{ form_errors(filter.createdAt.left_date) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(filter.createdAt.right_date) }}
                                {{ form_widget(filter.createdAt.right_date) }}
                                {{ form_errors(filter.createdAt.right_date) }}
                            </div>
                        </div>
                        <div class="col-sm-5 button-filter">
                            <button id="clear-form" type="button" class="btn btn-default">
                                {{ 'common.clear'|trans}}</button>
                            <input type="submit" value="{{ 'common.search'|trans }}" class="btn btn-info">
                        </div>
                        {{ form_end(filter) }}
                    </div>
                </div>
            </div>
            {% if totalSum %}
                <div class="alert alert-info top-alert" role="alert">
                    <i class="mdi mdi-information"></i>
                    <span>{{ 'common.total'|trans }}</span>
                    <table class="table small-table">
                        <tbody class="not-border">
                        {% for item in totalSum %}
                            <tr>
                                <td>{{ item.currency }}:</td>
                                <td>{{ item.payment }}</td>
                            </tr>
                        {% endfor %}
                        {% if sum > 0 %}
                            <tr>
                                <td>{{ 'common.total_convertor'|trans }}:</td>
                                <td>{{ sum }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'bill.created_at'|trans }}</th>
                        <th>{{ 'bill.date_operation'|trans }}</th>
                        <th>{{ 'bill.payment'|trans }}</th>
                        <th>{{ 'bill.currency'|trans }}</th>
                        <th>{{ 'bill.type'|trans }}</th>
                        <th>{{ 'bill.bill_type'|trans }}</th>
                        <th>{{ 'bill.payment_type'|trans }}</th>
                        <th>{{ 'bill.name'|trans }}</th>
                        <th>{{ 'bill.hashtag'|trans }}</th>
                        <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for bill in pagination %}
                    <tr>
                        <td {% if bill.comment %} title="{{ bill.comment }}" {% endif %}>
                            {{ bill.createdAt|date('d.m.Y') }}
                        </td>
                        <td>
                            {% if bill.dateOperation %}
                                {{ bill.dateOperation|date('d.m.Y') }}
                            {% endif %}
                        </td>
                        <td>{{ bill.payment }}</td>
                        <td>{{ bill.currency }}</td>
                        <td>{{ bill.type }}</td>
                        <td>{{ bill.billType }}</td>
                        <td>{{ bill.paymentType }}</td>
                        <td>{{ bill.name }}</td>
                        <td>{{ bill.hashtag }}</td>
                        <td class="actions_cell">
                            <a href="{{ path('bill_edit', {'id': bill.id}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                            <span
                                    class="delete_entity"
                                    data-delete-link="{{ path('bill_delete', {'id': bill.id}) }}"
                                    data-toggle="modal"
                                    data-target="#entity_delete"
                                    role="button"
                            >
                                    <i class="glyphicon glyphicon-trash"
                                       title="{{ 'common.delete'|trans }}"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityDeleteListener($('.delete_entity'), $('#delete_entity_form'));
            AppProject.loadResetFormListener($('#clear-form'), $('form[name="{{ filter.vars.name }}"]'));

        });
    </script>
{% endblock %}
