{% extends 'base.html.twig' %}

{% block title %}{{ 'payment_advertiser.title'|trans }}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {{ 'payment_advertiser.title'|trans  ~ ' ' ~ advertiser.title }}
            </h1>
            <br>
            <div class="btn_panel">
                <a href="{{ path('payment_advertiser_new', {'id' : advertiser.getId}) }}" class="btn btn-success">
                    {{ 'common.add'|trans }}
                </a>
                <a href="{{ path('advertiser_balance') }}" class="btn btn-primary right">
                    {{ 'common.back'|trans }}
                </a>
            </div>
            {% if totalSum %}
                <div class="alert alert-info top-alert" role="alert">
                    <i class="mdi mdi-information"></i>
                    <span>{{ 'common.total'|trans }}</span>
                    <table class="table small-table">
                        <tbody class="not-border">
                        {% for sum in totalSum %}
                            <tr>
                                <td>{{ sum.currency }}:</td>
                                <td>{{ sum.payment }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>{{ 'payment_advertiser.converted_currency'|trans }}</td>
                            <td>{{ total.total }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'payment_advertiser.date_payment'|trans }}</th>
                    <th>{{ 'revenue.currency'|trans }}</th>
                    <th>{{ 'payment_advertiser.payment'|trans }}</th>
                    <th>{{ 'payment_advertiser.comment'|trans }}</th>
                    <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for paymentAdvertiser in pagination %}
                    <tr>
                        <td>
                            {% if paymentAdvertiser.datePayment %}
                                {{ paymentAdvertiser.datePayment.format('d.m.Y') }}
                            {% endif %}
                        </td>
                        <td>{{ paymentAdvertiser.currency.getName }}</td>
                        <td>{{ paymentAdvertiser.payment }}</td>
                        <td>{{ paymentAdvertiser.comment }}</td>
                        <td class="actions_cell">
                            <a href="{{ path('payment_advertiser_edit', {'id': paymentAdvertiser.getId}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                            <span
                                    class="delete_entity"
                                    data-delete-link="{{ path('payment_advertiser_delete', {'id': paymentAdvertiser.getId}) }}"
                                    data-toggle="modal"
                                    data-target="#entity_delete"
                                    role="button"
                            >
                                    <i class="glyphicon glyphicon-trash"
                                       title="{{ 'common.delete'|trans }}"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityDeleteListener($('.delete_entity'), $('#delete_entity_form'));
        });
    </script>
{% endblock %}
