{% extends "PinoxUserBundle::base.html.twig" %}
{% block content %}
    <!-- HOME -->
    <section>
        <div class="container-alt">
            <div class="row">
                <div class="col-sm-12">

                    <div class="wrapper-page">
                        {% if app.session.flashBag.has('success') %}
                            <div class="alert alert-success" role="alert">
                                <strong>Успех!</strong>
                                {% for msg in app.session.flashBag.get('success') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if app.session.flashBag.has('danger') %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Ошибка!</strong>
                                {% for msg in app.session.flashBag.get('danger') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="m-t-40 account-pages">
                            <div class="text-center account-logo-box">
                                <h2 class="text-uppercase">
                                    <a href="index.html" class="text-success">
                                        <p class="logo"><span>Pi<span>nox</span></span><i class="mdi mdi-layers"></i></p>
                                    </a>
                                </h2>
                            </div>
                            <div class="account-content">
                                {{ form_start(form, { 'attr' : {'class' : 'form-horizontal'}} )}}
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        {{ form_widget(form.email) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        {{ form_widget(form.username) }}
                                        {{ form_errors(form.username) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form_widget(form.password) }}
                                        {{ form_errors(form.password) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form_widget(form.passwordConfirm) }}
                                        {{ form_errors(form.passwordConfirm) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="checkbox checkbox-success">
                                            {{ form_widget(form.acceptTermsAndConditions) }}
                                            {{ form_errors(form.acceptTermsAndConditions) }}
                                            <label for="checkbox-signup">I accept <a href="#">Terms and Conditions</a></label>
                                        </div>
                                    </div>
                                </div>
                                    {{ form_widget(form._token) }}
                                    <div class="form-group account-btn text-center m-t-10">
                                        <div class="col-xs-12">
                                            <button class="btn w-md btn-danger btn-bordered waves-effect waves-light" type="submit" disabled>Register</button>
                                        </div>
                                    </div>
                                {{ form_end(form) }}

                                <div class="clearfix"></div>

                            </div>
                        </div>
                        <!-- end card-box-->

                        <div class="row m-t-50">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Already have account?<a href="{{ path('fos_user_security_login') }}" class="text-primary m-l-5"><b>Sign In</b></a></p>
                            </div>
                        </div>

                    </div>
                    <!-- end wrapper -->

                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->
{% endblock %}
{% block javascripts %}
    <script>
        jQuery(document).ready(function () {
            $('.checkbox-signup').on('click', function () {
                if ($(this).val() == true) {
                    $('.waves-light').prop('disabled', false);
                } else {
                    $('.waves-light').prop('disabled', true);
                }
            })
        });
    </script>
{% endblock %}