{% extends 'base.html.twig' %}

{% block title %}{% trans %}telegram.title{% endtrans %}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>send messages</h1>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
