{% extends 'base.html.twig' %}

{% set title %}
        {% trans %}telegram.edit{% endtrans %}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="alert alert-danger top-alert" role="alert">
            <i class="mdi mdi-information"></i>
            <span>{{ 'telegram.commands_warning'|trans|nl2br }}</span>
        </div>
        <div class="btn_panel">
            <a href="{{ path('telegram_bot_index') }}" class="btn btn-primary">
                {% trans %}common.back{% endtrans %}
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="{% trans %}common.save{% endtrans %}" class="btn btn-default pull-right">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
