{% extends 'base.html.twig' %}

{% block title %}{% trans %}telegram.title{% endtrans %}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <div class="alert alert-info top-alert" role="alert">
                <i class="mdi mdi-information"></i>
                <span>{{  'telegram.commands_info'|trans|nl2br }}</span>
            </div>
            <h1>
                {% trans %}telegram.title{% endtrans %}
            </h1>
            {% if telegramBots %}
                <table class="table">
                    <thead>
                        <th>{% trans %}telegram.name_bot{% endtrans %}</th>
                        <th>{% trans %}telegram.token{% endtrans %}</th>
                        <th>{% trans %}telegram.commands{% endtrans %}</th>
                        <th class="actions_cell">{% trans %}common.actions{% endtrans %}</th>
                    </thead>
                    <tbody>
                        {% for bot in telegramBots %}
                            <tr>
                                <td>{{ bot.nameBot }}</td>
                                <td>{{ bot.token }}</td>
                                <td>
                                    {% if bot.getAllCommands %}
                                        <ul>
                                            {% for key,command in bot.getAllCommands %}
                                                <li>{{ key ~ ' - ' ~ command }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                                <td class="actions_cell">
                                    <a href="{{ path('telegram_bot_edit', {'id': bot.getId}) }}">
                                        <i class="glyphicon glyphicon-pencil" title="{% trans %}common.edit{% endtrans %}"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
