{% extends 'base.html.twig' %}

{% block title %}{{ 'country.title'|trans }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>
                {{ 'country.title'|trans }}
            </h1>
            <div class="alert alert-info top-alert" role="alert">
                <i class="mdi mdi-information"></i>
                <span>{{ 'country.search'|trans }}</span>
            </div>
            <div class="btn_panel">
                <a href="{{ path('country_new') }}" class="btn btn-success">
                    {{  'common.add'|trans }}
                </a>
            </div>
            <div class="filter-body">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'common.filter'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(filter) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_widget(filter.name) }}
                                {{ form_errors(filter.name) }}
                            </div>
                        </div>
                        <div class="col-sm-5 button-filter">
                            <button id="clear-form" type="button" class="btn btn-default">
                                {{ 'common.clear'|trans}}</button>
                            <input type="submit" value="{{ 'common.search'|trans }}" class="btn btn-info">
                        </div>
                        {{ form_end(filter) }}
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'country.name'|trans }}</th>
                    <th>{{ 'country.country'|trans }}</th>
                    <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for country in pagination %}
                    <tr>
                        <td>{{ country.name }}</td>
                        <td>{{ country.country }}</td>
                        <td class="actions_cell">
                            <a href="{{ path('country_edit', {'id': country.id}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadResetFormListener($('#clear-form'), $('form[name="{{ filter.vars.name }}"]'));

        });
    </script>
{% endblock %}

