{% extends 'base.html.twig' %}

{% block title %}{% trans %}participant.title{% endtrans %}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {% trans %}participant.title{% endtrans %}
            </h1>
            <div class="btn_panel">
                <a href="{{ path('participant_new') }}" class="btn btn-success">
                    {{  'common.add'|trans }}
                </a>
            </div>
            <div class="with-marg-bottom">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <input type="button" value="{{ 'common.save'|trans }}" class="btn btn-default pull-right update" >
                {{ form_end(form) }}
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'participant.name'|trans }}</th>
                        <th>{{ 'participant.email'|trans }}</th>
                        <th>{{ 'participant.distance'|trans }}</th>
                        <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.name }}</td>
                        <td>{{ participant.email }}</td>
                        <td>{{ participant.distance }}</td>
                        <td class="actions_cell">
                            <span
                                    class="delete_entity"
                                    data-delete-link="{{ path('participant_delete', {'id': participant.id}) }}"
                                    data-toggle="modal"
                                    data-target="#entity_delete"
                                    role="button"
                            >
                                    <i class="glyphicon glyphicon-trash"
                                       title="{{ 'common.delete'|trans }}"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityDeleteListener($('.delete_entity'), $('#delete_entity_form'));

            $('#{{ form.email.vars.id }}').on('change', function () {
                $.ajax({
                    url: '{{ path('participant_get_distance') }}',
                    dataType: 'json',
                    delay: 250,
                    data: {
                        participantId : $('#{{ form.email.vars.id }}').val()
                    },
                    success: function (distance) {
                        $('#{{ form.distance.vars.id }}').val(distance);
                    },
                    error: function () {
                        alert('непердвиденная ошибка сервера');
                    }
                });
            });

            $('.update').on('click', function () {
                var $form = $('form[name="{{ form.vars.name }}"]');
                var participant = $('#{{ form.email.vars.id }}').val();
                var distance = parseInt($('#{{ form.distance.vars.id }}').val());
                console.log(distance);
                if (participant && distance > 0) {
                    var url = '{{ path('participant_update_distance', {'id': 'participant_id'}) }}';
                    url = url.replace('participant_id', participant);
                    $form.attr('action', url);
                    $form.submit();
                }
            });

        });
    </script>
{% endblock %}

