{% extends 'base.html.twig' %}

{% block title %}{{ 'affiliate.title'|trans }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>
                {{ 'affiliate.title'|trans }}
            </h1>
            <div class="btn_panel">
                <a href="{{ path('status_index') }}" class="btn btn-success right">
                    {{  'status.title'|trans }}
                </a>
            </div>
            <div class="filter-body long-top-margin">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'common.filter'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(filter) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_label(filter.affiliateId) }}
                                {{ form_widget(filter.affiliateId) }}
                                {{ form_errors(filter.affiliateId) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(filter.email) }}
                                {{ form_widget(filter.email) }}
                                {{ form_errors(filter.email) }}
                            </div>
                        </div>
                        <div class="col-sm-4 button-filter">
                            <button id="clear-form" type="button" class="btn btn-default">
                                {{ 'common.clear'|trans}}</button>
                            <input type="submit" value="{{ 'common.search'|trans }}" class="btn btn-info">
                        </div>
                        {{ form_end(filter) }}
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'affiliate.affise_id'|trans }}</th>
                    <th>{{ 'affiliate.email'|trans }}</th>
                    <th>{{ 'webmaster.status'|trans }}</th>
                    <th>{{ 'webmaster.traffic_source'|trans }}</th>
                    <th>{{ 'webmaster.comment'|trans }}</th>
                    <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for affiliate in pagination %}
                    <tr>
                        <td>{{ affiliate.affiseId }}</td>
                        <td>{{ affiliate.email }}</td>
                        {% if affiliate.getWebmaster %}
                            <td>
                                {% if affiliate.getWebmaster.status %}
                                    {{  affiliate.getWebmaster.status.name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if affiliate.getWebmaster.trafficSource %}
                                    {{  affiliate.getWebmaster.trafficSource }}
                                {% endif %}
                            </td>
                            <td>{{ affiliate.getWebmaster.comment }}</td>
                        {% else %}
                                <td></td><td></td><td></td>
                        {% endif %}
                        <td class="actions_cell">
                            <a href="{{ path('affiliate_view', {'id': affiliate.id}) }}">
                                <i class="glyphicon glyphicon-eye-open" title="{{ 'common.view'|trans }}"></i>
                            </a>
                            <a href="
{% if affiliate.getWebmaster %}
{{ path('webmaster_edit', {'id': affiliate.getWebmaster.id}) }}
{% else %}
{{ path('webmaster_new', {'affiliate' : affiliate.id}) }}
{% endif %}
">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadResetFormListener($('#clear-form'), $('form[name="{{ filter.vars.name }}"]'));
        });
    </script>
{% endblock %}

