{% extends 'base.html.twig' %}

{% block title %}{{ 'affiliate.reminders'|trans }}{% endblock %}

{% block content %}
    {% include 'partials/confirm.html.twig' %}
    <div class="content">
        <div class="container">
            <h1>
                {{ 'affiliate.reminders'|trans }}
            </h1>
            <div class="btn_panel">
                <a href="{{ path('affiliate_index') }}" class="btn btn-success">
                    {{  'affiliate.title'|trans }}
                </a>
                <a href="{{ path('webmaster_archive') }}" class="btn btn-danger right">
                    {{  'common.to_archive'|trans }}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'webmaster.date_reminder'|trans }}</th>
                    <th>{{ 'affiliate.affise_id'|trans }}</th>
                    <th>{{ 'webmaster.reminder'|trans }}</th>
                    <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for affiliate in pagination %}
                    <tr>
                        <td>{{ affiliate.getWebmaster.dateReminder.format('d.m.Y') }}</td>
                        <td>{{ affiliate.affiseId }}</td>
                        <td>{{  affiliate.getWebmaster.reminder }}</td>
                        <td class="actions_cell">
                            <span
                                    class="entity_confirm"
                                    data-delete-link="{{ path('webmaster_reminder', {'id': affiliate.getWebmaster.id}) }}"
                                    data-toggle="modal"
                                    data-target="#entity_confirm"
                                    role="button"
                            >
                                    <i class="glyphicon glyphicon-ok" title="{{ 'common.reminder'|trans }}"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityConfirmListener($('.entity_confirm'), $('#confirm_entity_form'));
        });
    </script>
{% endblock %}
