{% extends 'base.html.twig' %}

{% block title %}{{ 'affiliate.card_title'|trans }}{% endblock %}

{% block content %}
    {% set webmaster = affiliate.getWebmaster %}
    <div class="content">
        <div class="container">
            <h1>
                {{ 'affiliate.card_title'|trans }}
            </h1>
            <div class="btn_panel">
                <a href="
{% if webmaster %}
{{ path('webmaster_edit', {'id': webmaster.id}) }}
{% else %}
{{ path('webmaster_new', {'affiliate' : affiliate.id}) }}
{% endif %}" class="btn btn-success">
                    {{ 'common.edit'|trans }}
                </a>

                <a href="{{ path('affiliate_index') }}" class="btn btn-info right">
                    {{  'common.back'|trans }}
                </a>
            </div>

            <table class="table table-hidden">
                <tbody>
                    <tr>
                        <td>{{ 'affiliate.affise_id'|trans }}</td>
                        <td>{{ affiliate.affiseId }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'affiliate.email'|trans }}</td>
                        <td>{{ affiliate.email }}</td>
                    </tr>
                    {% if webmaster %}
                        <tr>
                            <td>{{ 'webmaster.status'|trans }}</td>
                            <td>
                                {% if webmaster.status %}
                                    {{  webmaster.status.name}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'webmaster.traffic_source'|trans }}</td>
                            <td>
                                {% if webmaster.trafficSource %}
                                    {{ webmaster.trafficSource}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'webmaster.vertical_offer'|trans }}</td>
                            <td>
                                {% if webmaster.verticalOffer %}
                                    {{ webmaster.verticalOffer }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'webmaster.country'|trans }}</td>
                            <td>
                                {% if webmaster.getCountries %}
                                    <ul>
                                    {% for country in webmaster.getCountries %}
                                        <li>{{ country.name }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'webmaster.reminder'|trans }}</td>
                            <td>
                                {{ webmaster.reminder }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'webmaster.date_reminder'|trans }}</td>
                            <td>
                                {{ webmaster.dateReminder.format('d.m.Y') }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'webmaster.comment'|trans }}</td>
                            <td>
                                {{ webmaster.comment }}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}

